<tr>
	<th>
		<%= f.label :name, "",  :class => "required" %>
	</th>
	<td>
		<p>
		  <%= f.text_field :name %>
		</p>
	</td>
</tr>
<tr>
	<th>
		<%= f.label :keywords %>
	</th>
	<td>
		<p>
		  <%= f.text_area :keywords, :rows => 6 %>
			<p class="info">
				Put each keyword, and each phrase onto a separate line.
			</p>
		</p>
	</td>
</tr>
<tr>
	<th>
		<%= f.label :ad_copy, "" %>
	</th>
	<td>
		<p>
		  <%= f.text_field :ad_copy %>
		</p>
	</td>
</tr>
<tr>
	<th>
		<%= f.label :link, "" %>
	</th>
	<td>
		<p>
		  <%= f.text_field :link %>
		</p>
	</td>
</tr>
<tr>
	<th>
		<%= f.label :link_text, "" %>
	</th>
	<td>
		<p>
		  <%= f.text_field :link_text %>
		</p>
	</td>
</tr>
