<tr>
	<th>
		<%= f.label :name, "", :class => "required"  %>
	</th>
	<td>
		<p>
		  <%= f.text_field :name %>
		</p>
	</td>
</tr>
<tr>
	<th>
		<%= f.label :identifier, "",  :class => "required"  %>
	</th>
	<td>
		<p>
		  <%= f.text_field :identifier %>
		</p>
	</td>
</tr>
<tr>
	<th>
		<%= f.label :feed_url, "",  :class => "required"  %>
	</th>
	<td>
		<p>
		  <%= f.text_field :feed_url %>
		</p>
	</td>
</tr>
<tr>
	<th>
		<%= f.label :homepage_url %>
	</th>
	<td>
		<p>
		  <%= f.text_field :homepage_url %>
		</p>
	</td>
</tr>